<% title @page_title %>
<h2><%= t(:index, scope: :real_estate_parsers) %> </h2>

<br>

<table class="table table-striped table-hover table-with-items">
  <tr>
    <th>№</th>
    <th><%= t('real_estate_parsers.agency') %></th>
    <th><%= t('real_estate_parsers.is_active') %></th>
    <th><%= t('real_estate_parsers.started_at') %></th>
    <th><%= t('real_estate_parsers.finished_at') %></th>
    <th><%= t('real_estate_parsers.status') %></th>
    <th><%= t('real_estate_parsers.percent') %></th>
    <th></th>
    <th></th>
  </tr>

  <% @objects.each do |parser| %>
    <tr>
      <td><%= parser.id %></td>
      <td><%= link_to parser.agency.name, agencies_list_item_path(locale: 'ru', agency_url: parser.agency.slug), target: "_blank" %></td>
      <td><%= Utils::Html::bool_glyphicon(parser.is_active?) %></td>
      <td><%= date_format(parser.started_at, format_type: :short_date_time_format) if parser.started_at != nil %></td>
      <td><%= date_format(parser.finished_at, format_type: :short_date_time_format) if parser.finished_at != nil %></td>
      <td>
        <%= parser_log_status_with_color(parser.status) %>
      </td>
      <td><span title='процесс парсинга'><%= progress_bar(parser.latest_run&.to_percent || 0) %></span></td>
      <td><%= link_to t('real_estate_parser_logs.index'), real_estate_parser_real_estate_parser_logs_path(real_estate_parser_id: parser.id) %></td>
      <td>
        <div class="btn-group" role="group">

          <%= link_to t('real_estate_parsers.start'),
                      real_estate_parser_start_path(parser.id),
                      class: "btn #{!parser.can_be_started? ? 'btn-default disabled' : 'btn-primary'}",
                      data: { method: :post },
                      disabled: !parser.can_be_started? %>

          <% if parser.is_active? %>
            <%= link_to 'Деактивировать',
                        real_estate_parser_path(id: parser.id, real_estate_parser: { is_active: false }),
                        class: 'btn btn-default',
                        data: { method: :put } %>
          <% else %>
            <%= link_to 'Активировать',
                        real_estate_parser_path(id: parser.id, real_estate_parser: { is_active: true }),
                        class: 'btn btn-success',
                        data: { method: :put } %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>

</table>

<br>
