<% title @page_title %>
<h2><%= t(:index, scope: :real_estate_parser_logs) %> </h2>

<br>

<table class="table table-striped table-hover table-with-items">
  <tr>
    <th>№</th>
    <th><%= t('real_estate_parser_logs.started_at') %></th>
    <th><%= t('real_estate_parser_logs.finished_at') %></th>
    <th><%= t('real_estate_parser_logs.status') %></th>
    <th><%= t('real_estate_parser_logs.created_properties_count') %></th>
    <th><%= t('real_estate_parser_logs.updated_properties_count') %></th>
    <th><%= t('real_estate_parser_logs.deleted_properties_count') %></th>
    <th><%= t('real_estate_parser_logs.error_properties_count') %></th>
    <th><%= t('real_estate_parser_logs.total_properties_count') %></th>
    <th><%= t('real_estate_parser_logs.file') %></th>
  </tr>

  <% @pagination.items.reverse_each do |real_estate_parser_log| %>
    <tr>
      <td><%= real_estate_parser_log.id %></td>
      <td><%= date_format(real_estate_parser_log.started_at, format_type: :short_date_time_format) if real_estate_parser_log.started_at != nil %></td>
      <td><%= date_format(real_estate_parser_log.finished_at, format_type: :short_date_time_format) if real_estate_parser_log.finished_at != nil %></td>
      <td>
        <%= parser_log_status_with_color(real_estate_parser_log.status) %>
      </td>
      <td><%= real_estate_parser_log.created_properties_count %></td>
      <td><%= real_estate_parser_log.updated_properties_count %></td>
      <td><%= real_estate_parser_log.deleted_properties_count %></td>
      <td><%= real_estate_parser_log.error_properties_count %></td>
      <td><%= real_estate_parser_log.total_properties_count %></td>
      <td><%= link_to t('real_estate_parser_logs.open_file'), real_estate_parser_real_estate_parser_log_open_file_path(real_estate_parser_id: real_estate_parser_log.real_estate_parser_id, real_estate_parser_log_id: real_estate_parser_log.id, id: real_estate_parser_log.id) %></td>
    </tr>
  <% end %>

</table>

<br>
